
<div class="modal fade" id="NotifyModal" tabindex="-1" role="dialog" aria-labelledby="NotifyModalLabel" aria-hidden="true">
    <div class="modal-dialog model-width" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 id="NotifyModal_Msg" class="text-center"></h3>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-thm bg-white theme-green-color" id="NotifyModal_Ok">Ok</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog model-width" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 id="ConfirmModal_Msg" class="text-center"></h3>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-thm bg-white theme-green-color" id="ConfirmModal_Confirm">Confirm</button>
                <button type="button" class="btn btn-thm" data-dismiss="modal" id="ConfirmModal_Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
