@model Models.Participate

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PublicSubscription.cshtml";
}

<h2>Edit Preferances</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Unsubscribe To Stretch</h4>
                </div>
                <div class="ibox-content">
                   
                    <div class="col-xs-6 ">
                        @Html.Hidden("key", ViewContext.RequestContext.HttpContext.Request.QueryString["id"])
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            @if (!string.IsNullOrEmpty(Model.Email))
                            {

                                if (ViewBag.EditType==1)
                                {
                                    <div id="all_sub">

                                        <p>Thank you @Model.Name  for Using STRETCH in your meetings  Click on UnSubscribe Button  </p>
                                        <p>to Unsubscribe from wrapup and report</p>
                                        <button id="subbtn" data-id="warapup_report" class=" btn btn-primary">Subscribe</button>
                                    </div>
                                }
                                else if (ViewBag.EditType == 2)
                                {
                                    <div id="all_sub">
                                        <p>Thank you @Model.Name  for Using STRETCH in your meetings  Click on the  Unsubscribe and click on  Apply  Button  </p>
                                        <p>to Unsubscribe from notifications</p>


                                        <button id="subbtn" data-id="notifications" class=" btn btn-primary">Subscribe</button>
                                    </div>
                                }
                            }
                            else
                            {
                                <p> Sorry You are not a member of STRETCH <br /> if you need to subscribe to STRETCH please send an Email to <strong>@(Portals.Models.Configuration.Instance["EMAIL"]) </strong><br /> and Write 'subscribe' in subject </p>

                            }
                            <div id="sucess" class="d-none">
                                <p></p>
                            </div>
                            <div id="error" class="d-none">
                                <p>Error while Processing the Unsubscribe</p>
                            </div>
                        </div>

                        <p id="successlbl" class="cg-notify-message"></p>
                        @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger pull-right" })*@


                        <div class="col-lg-6">
                            <ul class="stat-list">
                            </ul>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">


        $("#subbtn").click(function () {
            var jsonObj;
            if ($(this).attr("data-id") == "notifications") {
                jsonObj = {

                    key: $("#key").val(), WrapUp: true, Reminder: true, ReportNotice: true, Report: true,


                }
            }
            else {
                jsonObj = {
                    key: $("#key").val(), WrapUp: true, Reminder: true, ReportNotice: true, Report: true,
                }
            }
            
            
            $.ajax({

                     url: "./EditPrefrance",
                    type: "Post",
                contentType: "application/json",
                data: JSON.stringify(jsonObj),
                     success: function (result)
                     {

                         if (result.state) {
                             $("#sucess").removeClass("d-none");
                             $("#sucess").html('<p>You are subscriped again </p>');
                         }
                         else {
                             $("#error").removeClass("d-none");

                         }

                         $("#all_sub").addClass("d-none");
                    },
                    fail: function () { }
                });
            });

    </script>
}


