<<<<<<< HEAD
﻿
@{
    ViewBag.Title = "Access Denied";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>401</h1>
    <h3 class="font-bold">@ViewBag.Title</h3>

    <div class="error-desc">
        Sorry, This page is not allowed according to your permissions, 
        If you used to visit this page , please kindly review your system administrator.
    </div>
=======
﻿
@{
    ViewBag.Title = "Access Denied";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>401</h1>
    <h3 class="font-bold">@ViewBag.Title</h3>

    <div class="error-desc">
        Sorry, This page is not allowed according to your permissions, 
        If you used to visit this page , please kindly review your system administrator.
    </div>
>>>>>>> cea7130 (Initial commit)
</div>