<<<<<<< HEAD
﻿@model  Models.Meeting

@{
    ViewBag.Title = "ViewPattern";
    Layout = null;
}

<h2>View Email Pattern</h2>

   @if (string.IsNullOrEmpty(Model.TemplateSent))
            {
<p>Template Pattern Not Found</p>
            }
   

@Html.Raw(Model.TemplateSent)

=======
﻿@model  Models.Meeting

@{
    ViewBag.Title = "ViewPattern";
    Layout = null;
}

<h2>View Email Pattern</h2>

   @if (string.IsNullOrEmpty(Model.TemplateSent))
            {
<p>Template Pattern Not Found</p>
            }
   

@Html.Raw(Model.TemplateSent)

>>>>>>> cea7130 (Initial commit)
