
@{
    ViewBag.Title = "MeetingCharts";
}

<h2>MeetingCharts</h2>
<div class="col-md-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>
                Meetings
                <small>With custom colors.</small>
            </h5>
        </div>
        <div class="ibox-content">
            <div>
                <canvas id="lineChart" height="70"></canvas>
            </div>
        </div>
    </div>
</div>

