<<<<<<< HEAD
﻿


<div class="col-lg-3">
    <div class="widget red-bg p-lg text-center">
        <div class="m-b-hd">
            <i class="fa fa-users  fa-4x"></i>
            <h1 class="m-xs" id="lblavgmeetingparticpant"></h1>
            <h3 class="font-bold no-margins">
                STRETCH <br /> Participate Avarage
            </h3>
            <small>Avarage Number of Meeting Participate</small>
        </div>
    </div>
</div>

=======
﻿


<div class="col-lg-3">
    <div class="widget red-bg p-lg text-center">
        <div class="m-b-hd">
            <i class="fa fa-users  fa-4x"></i>
            <h1 class="m-xs" id="lblavgmeetingparticpant"></h1>
            <h3 class="font-bold no-margins">
                STRETCH <br /> Participate Avarage
            </h3>
            <small>Avarage Number of Meeting Participate</small>
        </div>
    </div>
</div>

>>>>>>> cea7130 (Initial commit)
