
<div class="col-md-6">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>STRETCH Participants who have most thumbs up</h5>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped negativeInventoryTable-datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th> Rank</th>
                            <th> Name</th>
                            <th># Thumbs Up</th>
                        </tr>
                    </thead>
                    <tbody id="StretchTopThumbsUp"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
