

<div class="col-lg-3">
    <div class="widget red-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-sticky-note  fa-4x"></i>
            <h1 class="m-xs" id="lblwrapupCount"></h1>
            <h3 class="font-bold no-margins">
                STRETCH <br /> Wrap-Up Reports
            </h3>
            <small>total reports sent by STRETCH</small>
        </div>
    </div>
</div>
