 
<div class="col-md-6">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Top 5 hosts who invited STRETCH to their meetings</h5>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped negativeInventoryTable-datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th> Rank</th>
                            <th> Name</th>
                            <th># Meetings</th>
                        </tr>
                    </thead>
                    <tbody id="StretchTopOrganiser"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
